*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.roboto-one{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  display: flex;
  flex-direction: column; /* or row, depending on layout */
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  min-height: 100vh;       /* fill full height */
  margin: 0;
  background-color: #f5ddbd;
  box-sizing: border-box;
}

/* .about{
  justify-content: center;

} */

header {
  background: #eeb66e;
  width: 100%;
  text-align: center;
  padding: 30px;
}
/* Navbar styles */
.navbar {
  background-color: #5eddf2;
  padding: 20px;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: #00768b;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: #006779;
  color: #5eddf2;
  border-radius: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 10px;
}

.card {
  width: 325px;
  background-color:#fbae48;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-content{
  color: white;
  padding: 30px 30px;
  line-height: 1.3;
}

.card-content h1{
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
}

.card-content h1{
  font-size: 17px;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 2rem;
}

.headshot-image {
  width: 50%;
  max-width: 200px;
  border-radius: 5px;
  border-color: black;
}

footer {
  background: #5eddf2;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
