body {
  display: flex;
  flex-direction: column; /* or row, depending on layout */
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  min-height: 100vh;       /* fill full height */
  margin: 0;
  background-color: #f5ddbd;
}


header {
  background: #eeb66e;
  color: #ffeed8;
  width: 100%;
  text-align: center;
}
/* Navbar styles */
.navbar {
  background-color: #5eddf2;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: #5eddf2;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: #0cb5d1;
  border-radius: 5px;
}


main {
  padding: 20px;
}

section {
  margin-bottom: 2rem;
}

footer {
  background: #5eddf2;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
